.btn{
	background-color:white;
	border:1px solid #00022e;
	color:black;
	margin-left: 30px;
}
.Wpath{
	background-color:yellow;
	align:center;
	border:0px solid cyan;
	width:25px;
	height:25px;
	background-image:url(images/weight.png);
	background-size: contain;
}
.Epath{
	background-color:yellow;
	align:center;
	border:0px solid cyan;
	width:25px;
	height:25px;
	background-image:url(images/tg.png);
	background-size: contain;
}
.Spath{
	border:0px solid cyan;
	width:25px;
	height:25px;
	background-image:url(images/cl.png);
	background-color:yellow;
	background-size: contain;
}
.path{
	background-color: yellow;
	border:0px solid transparent;
	align:center;
	width:25px;
	height:25px;
	animation: path 1s;
}
.wall{
	background-color: #00022e;
	border:0px solid transparent;
	align:center;
	width:25px;
	height:25px;
}
.weigh{
	background-color:white;
	align:center;
	border:1px solid cyan;
	width:25px;
	height:25px;
	background-image:url(images/weight.png);
	background-size: contain;
}
.end{
	background-color:white;
	align:center;
	border:1px solid cyan;
	width:25px;
	height:25px;
	background-image:url(images/tg.png);
	background-size: contain;
}
.start{
	border:1px solid cyan;
	width:25px;
	height:25px;
	background-image:url(
		images/cl.png);
	background-color:white;
	background-size: contain;
}
.visited_cell{
	border:0px solid cyan;
	width:25px;
	height:25px;
	background-color:cyan;
	border:0px solid lightgray;
	animation-name: visited;
  	animation-duration: 1s;
}
.cell{
	border:1px solid cyan;
	width:25px;
	height:25px;
	background-color:white;
}
.board{
	margin:15px;
}
.grid{
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}


@keyframes visited {
	from {background-color: #fc8eac;}
	to {background-color: cyan;}
  }
@keyframes path {
	from {background-color: orange;}
	to {background-color: yellow;}
  }
