*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dp_menu{
    color:white;
    border:0px;
    font-size: 15px;
    font-family: 'Inconsolata',monospace;
    background-color: #182c40;
}
.dp_menu_option{ 
    font-size: 15px;
    font-family: 'Inconsolata',monospace;
    background: #182c40;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.navigation-list{
    background-color: #182c40;;
    color: white;
    display: flex;
    height: fit-content;
    justify-content: flex-end;
    align-items: center;
}
.navigation-item{
    list-style: none;
    margin-right: 2rem;
    font-family: 'Inconsolata',monospace;
}

.navigation-item a{
    text-decoration: none;
    color: white;
}
.navigation-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 30px;
}
.navigation-item:last-child{
    margin-right: 12rem;
    margin-left: 5rem;
}
@media screen and (max-width: 820px){
    .navigation-list{
        display: flex;
        height: fit-content;
        justify-content: flex-end;
        align-items: center;
    }
    .navigation-item{
        margin-right: 2rem;
    }
    .navigation-item:first-child{
        margin-right: auto;
        margin-left: 3rem;
        font-size: 30px;
    }
    .navigation-item:last-child{
        margin-right: 6rem;
        margin-left: 3rem;
    }
}
@media screen and (max-width: 650px){
    .navigation-list{
        display:flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .navigation-item{
        
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-item:first-child{
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-item:last-child{
        margin-left: auto;
        margin-right: auto;
    }
}

.navigation-item:hover{
    color: rgb(185, 45, 185) !important;
    cursor: default;
}

.node:hover{
    cursor: default;
    background-color: rgb(185, 45, 185) !important;
    color:white;
}

.node{
    border: 1px solid gray;
    font-family:'Inconsolata', monospace;
    width:fit-content;
    height: 25px;
    background-color:cyan;
    color:#182c40;
    position: absolute;
    text-align:center;
    font-size: 25px;
}
#board{
    border: 1px solid #182c40;
    margin: 0px auto;
    background-color: inherit;
}

.edge{
    width: 1px;
    background-color: #182c40;
    border: 1px solid #182c40;
}
