/*<style>*/
.row{
		margin-top: -10px;
	}
	.path{
		width: 25px;
		height: 25px;
		border:0px solid gray;
		background-color:yellow;
	}
	.visited{
		width: 25px;
		height: 25px;
		border:1px solid gray;animation: dfs 1s;background-color:cyan;
	}
	.grid{
		display: inline-grid;
  		grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	}	
	.cell{
			background-color: white;
			border: 1px solid cyan;
			width: 25px;
			height: 25px;
		}
	.menu_btn{
		border: 1px solid cyan;
		background-color: white;
		font-size: 20px;
	}
	@keyframes dfs{
	  from {background-color: pink;}
	  to {background-color: cyan;}
	}
/*</style>*/